body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0; border:0;}
html{font-size: 62.5%;-webkit-text-size-adjust:none;}
*{outline: none;margin:0;padding:0;}
body{background-color: #FFF; font-family: 'STHeiti',Helvetica,Arial,sans-serif;font-size:1rem }
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0}
address,caption,cite,code,dfn,strong,th,var{font-style:normal;font-weight:n6rmal}
ol,ul {list-style:none}
caption,th {text-align:left}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal}
q:before,q:after {content:''}
abbr,acronym { border:0}
a{text-decoration:none;color:#333;outline:none;hide-focus:expression(this.hideFocus=true);}
em{font-style:normal;}
input,a,textarea{ outline:none;}
.fl{float:left;_display:inline} .fm{float:left;_display:inline;} .fr{float:right;_display:inline}
span.fl,span.fm,span.fr{display:block;_display:inline;}
.cb{clear:both} .cl{clear:left} .cr{clear:right}.tr{text-align: right;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}
.clear{width:100%;height:1px;overflow:hidden;clear:both;}
.tc{text-align: center;}
a{text-decoration: none;}
.cl{clear: both; overflow: hidden;}
img{vertical-align: middle;}

 /* ad swiper */
 .logo{text-align: center; height: 4.5rem; margin:2rem 0 3rem 0;}
 .logo img{height: 100%;}
.swiper-container{width: 100%; text-align: center;}
.swiper-container .swiper-slide{padding-bottom: 5rem;}
.swiper-container .swiper-slide .title{font-size: 1.6rem; color: #ff3535; text-align: center; font-weight: bolder; padding-bottom: 1rem;}
.swiper-container .swiper-slide img{width: 80%;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: .2rem;}
.swiper-pagination-bullet{ background: url(../images/nav.png) center center no-repeat;line-height: 2.8rem; width: 2.8rem; height: 2.8rem; opacity: 1; color: #FFF; font-size: 1.1rem;}
.swiper-pagination-bullet.swiper-pagination-bullet-active{ background: url(../images/nav_act.png) center center no-repeat; font-size: 1.4rem;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 0;}
.prompt-txt-red{ text-align: center; color: #ff8174; font-size: 1.2rem; line-height: 3rem; padding-top: 1.8rem;}
.prompt-txt-gray{ text-align: center;color: #a7a5a5; font-size: 1.2rem; line-height: 3rem;}
.down-btn{margin:.3rem auto 2.5rem auto; width: 85%;}
.down-btn a{font-size: 1.8rem; color: #FFF; display:block;border-radius: 5rem;height: 4rem; line-height: 4rem; text-align: center;}
.down-btn a.open-btn{  background-color: #6bd3f6; width: 48%; float: left;}
.down-btn a.download-btn{ background-color: #ff3f36; width: 48%; float: right;}
.down-btn a.open-btn{
    background: -moz-linear-gradient(top, #6bd3f6 0%, #54b9ed 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#6bd3f6), color-stop(100%,#54b9ed));
    background: -webkit-linear-gradient(top, #6bd3f6 0%,#54b9ed 100%);
    background: -o-linear-gradient(top, #6bd3f6 0%,#54b9ed 100%);
    background: -ms-linear-gradient(top, #6bd3f6 0%,#54b9ed 100%);
    background: linear-gradient(to bottom, #6bd3f6 0%,#54b9ed 100%);
}
.down-btn a.download-btn{
    background: -moz-linear-gradient(bottom, #ff3f36 0%, #ff724b 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ff3f36), color-stop(100%,#ff724b));
    background: -webkit-linear-gradient(top, #ff3f36 0%,#ff724b 100%);
    background: -o-linear-gradient(bottom, #ff3f36 0%,#ff724b 100%);
    background: -ms-linear-gradient(bottom, #ff3f36 0%,#ff724b 100%);
    background: linear-gradient(to top, #ff3f36 0%,#ff724b 100%);
}
@media only screen and (min-device-width : 320px) and (max-device-height : 568px){ 
	 .down-btn{margin-bottom: 1rem;}
}

