body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0; border:0;}
html{font-size: 62.5%;-webkit-text-size-adjust:none;}
*{outline: none;margin:0;padding:0;}
body{background-color: #FFF; font-family: 'STHeiti',Helvetica,Arial,sans-serif;font-size:1rem }
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0}
address,caption,cite,code,dfn,strong,th,var{font-style:normal;font-weight:normal}
ol,ul {list-style:none}
caption,th {text-align:left}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal}
q:before,q:after {content:''}
abbr,acronym { border:0}
a{text-decoration:none;color:#333;outline:none;hide-focus:expression(this.hideFocus=true);}
em{font-style:normal;}
input,a,textarea{ outline:none;}
.fl{float:left;_display:inline} .fm{float:left;_display:inline;} .fr{float:right;_display:inline}
span.fl,span.fm,span.fr{display:block;_display:inline;}
.cb{clear:both} .cl{clear:left} .cr{clear:right}.tr{text-align: right;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}
.clear{width:100%;height:1px;overflow:hidden;clear:both;}
.tc{text-align: center;}
a{text-decoration: none;}
.cl{clear: both; overflow: hidden;}
img{vertical-align: middle;}

.main-wrap{ position: relative;}
.main-wrap .index-bg,.main-wrap .card-bg{width: 100%;}
.gift-box{position: absolute; width: 24.5%;}
.gift01{left: 5%;top:11.6% ;}
.gift02{right: 5%;top:11.6% ;}
.gift03{left: 5%;top:53.7% ;}
.gift04{right: 5%;top:53.7% ;}
.gift05{left: 37.75%;top:39.6% ;}
.gift-box .gift-img{width: 100%; display: block;}
.gift-box .gift-btn{width: 100%;display: block;margin-top: .2rem;}
.gift-box .gift-btn img{width: 100%;}
.gift-box .gift-topbox{margin-bottom: .2rem;}
.gift-box .gift-mini{width: 35.8%;}
.gift-box .gift-descbox{width: 58.7%;}
.gift-box .gift-getbtn{width: 100%;}
.gift-box .gift-num{position: relative;}
.gift-box .gift-num .num-bg{position: absolute; left: 0px; top: 0px; width: 100%;}
.gift-box .gift-num .num-val{font-size: 1.2rem; color: #040000;position: relative;z-index: 2;text-align: center; font-weight: 600;}
.gift-box .gift-num .num-val em{color: #db4126;}
.click-btn{position: absolute; left: 50%; bottom: 9.3%; width: 37.8%; margin-left: -18.9%;}
.click-btn img{width: 100%;} 

.my-gift-btn{width:11.4rem; position: absolute; right: 1.4rem; top: 1.9rem;}
.my-gift-btn img{width: 100%;}
.lottery-list{position: absolute;top: 16.8%;left: 7%; width: 86%;}
.lottery-list li{float: left; width:33.3%;}
.lottery-list li:nth-child(2){float: left; width:33.4%;}
.lottery-list li .lot-box{padding: 0 .4rem;}
.lottery-list li .lot-box img{width: 100%;}

.lottery-btn{position: absolute;left: 50%; top: 54.8%; width: 18.35rem; margin-left: -9.175rem;}
.lottery-btn img{width: 100%;}
.lottery-loadingbox{position: absolute;left: 0px;top: 0px;}
.lottery-btn .loading-txt{display: none; font-size: 1.3rem; color: #231815;text-align: center;width: 18.35rem;line-height: 4.6rem; height:4.6rem; font-weight: bold;}
.lottery-btn.disabled .loading-txt{display: block;}
.lottery-btn.disabled em{padding-left: .3rem;}
.card-list{position: absolute;left: 4%; top: 71.7%; width:92%;}
.card-list li{width: 20%; float: left;}
.card-list li .list-pad{padding:0 5.8%;}
.card-list li .list-pad .card-img{width: 100%;}
.card-list li .list-pad .gift-num{position: relative;margin:.5rem 0 .3rem 0;}
.card-list li .list-pad .gift-num .num-bg{position: absolute; left: 0px; top: 0px; width: 100%;}
.card-list li .list-pad .gift-num .num-val{font-size: 1.2rem; color: #040000;position: relative;z-index: 2;text-align: center; font-weight: 600;}
.card-list li .list-pad .gift-num .num-val em{color: #db4126;}
.card-list li .list-pad .complete-btn{width: 100%;display: block;}
.lottery-list{display: none;}
#comein,#comeout{position: absolute; z-index: 200; width: 100%;left: 0px; top: 0px;width: 100%;}

.white-formsbg-black{position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 101; background-color: #000; opacity: .7; display: none;}
.forms-wrap{position: fixed; left: 50%; top:50%; z-index: 102; display: block; display: none;}
.rules{width: 26.2rem; height: 33.6rem; margin-left: -13.1rem; margin-top: -16.8rem;}
.rules img,.unlogin img,.outer img,.success img{width: 100%;}
.unlogin{width: 26.2rem; height: 23.8rem; margin-left: -13.1rem; margin-top: -11.9rem;}
.outer{width: 26.2rem; height: 23.9rem; margin-left: -13.1rem; margin-top: -11.95rem;}
.success{width: 26.2rem; height: 24.2rem; margin-left: -13.1rem; margin-top: -12.1rem;}
.rules .close-btn{position: absolute;right: 1.5rem; top: 1.3rem; width: 3.1rem; height: 3.1rem;display: block;}
.rules .confirm-btn{position: absolute;left: 50%; bottom: 0px; margin-left: -6.25rem; width: 12.5rem; height: 5.3rem;display: block;}
.unlogin .close-btn{position: absolute;right: 1.8rem; top: .9rem; width: 3.1rem; height: 3.1rem;display: block;}
.unlogin .confirm-btn{position: absolute;left: 50%; bottom: 0px; margin-left: -6.25rem; width: 12.5rem; height: 5.3rem;display: block;}
.outer .close-btn{position: absolute;right: 1.8rem; top: .9rem; width: 3.1rem; height: 3.1rem;display: block;}
.outer .confirm-btn{position: absolute;left: 50%; bottom: 0px; margin-left: -6.25rem; width: 12.5rem; height: 5.3rem;display: block;}
.success .close-btn{position: absolute;right: 1.8rem; top: 1.1rem; width: 3.1rem; height: 3.1rem;display: block;}
.success .confirm-btn{position: absolute;left: 50%; bottom: 0px; margin-left: -6.25rem; width: 12.5rem; height: 5.3rem;display: block;}

.toast{position: fixed; left: 50%; top: 50%; border:1px solid #404141; background: url(../images/black_bg.png) repeat; line-height: 3rem; height: 3rem; margin-top: -1.5rem; padding: 0 1rem; font-size: 1.4rem; color: #FFF;border-radius: .5rem;}
.ad-box{position: absolute;left: 4.66%; top: 1.5%; width: 24.8%;}
.ad-box img{width: 100%;}
.ad-link{display: block; width: 55%; height: 34.5%; position: absolute; right: 0px; bottom:0;}