.layui-login-bg{
	background: url(../images/bg.jpg) center top no-repeat;
	background-size: cover;
	/*background-color: #01AAED;*/
}
.layui-nav{
	background-color:#24466b;
}
/*.layui-nav{
	background-color:#24466b;
}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover{
	background-color: #18314b;
}

.layui-nav-tree .layui-nav-bar,.layui-nav-tree .layui-this >a,.layui-nav-tree .layui-this >a:hover,.layui-nav-tree .layui-nav-item >a:hover{
	background-color:#18314b;
}*/
.layui-layout-admin .layui-header{
	background-color: #FFF;
}
.layui-nav .layui-nav-item a.log-out{
	color: #616161;
}
.layui-logo{
	background: #51b4cc url(../images/logo.jpg)center center no-repeat;
}
.layui-bg-self{
	background: #23456a url(../images/left_bg.jpg)center bottom no-repeat;
}
.layui-login{
	position: absolute;
    left: 50%;
    top: 50%;
    width: 340px;
    height: 308px;
    margin: -234px 0 0 -280px;
    padding: 80px 110px;
    background: url(../images/login_bg.png) no-repeat;
	
}
.layui-login-title{
	text-align: center;
	line-height: 60px;
	height: 60px;
	font-size: 28px;
}
.layui-login-tab{
	display: flex;
	padding:10px 0 33px;
}
.layui-login-tab li{
	flex-direction: row;
 	flex: 1;
 	text-align: center;
 	font-size: 16px;
 	cursor: pointer;
 	color: #6ea0b0;
 	line-height: 20px; 
 	height: 20px;
 }
 .layui-login-tab li:nth-child(2){
	border: solid #feffff;
	border-width: 0 1px;
 }
 .layui-login-tab li.act{
 	color: #feffff;
 }
 .layui-login-center{
 	display: flex;
 	justify-content: center;
 }
 .layui-login-submit{
 	width: 100%;
 	background-color: #51b4cc;
 	font-size: 16px;
 	color: #ffffff;
 	margin-top: 20px;
 }
 #login_box .layui-form-item{
 	margin-bottom: 20px;
 }
 .layui-form-item .layui-input-inline{
 	width: 300px;
 }
 .layui-form-label{
 	width: 100px;
 }
 .layui-textarea{
 	resize:none;
 }
 .layui-input-date{
 	background: url(../images/icon.png) right center no-repeat;

 }
 .layui-date-area{
 	display: flex;
 	flex-direction: row;
 }
 #pageList{
 	display: flex;
 	justify-content: flex-end;
 	padding-right: 20px;
 }
 .link-text{
 	color: #01AAED
 }

.layui-color-orange{
 	color: #FF5722 !important
 }
.layui-table td, .layui-table th{
	line-height: 30px;
	word-break: break-word;
	max-width: 260px;
}
.layui-header-menu{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 15px;
}
#user_name{
	background:transparent url(../images/pngbg.png) no-repeat 0 -40px;
	border: none;
	line-height:40px;
	height: 40px;
	border-bottom: 1px solid #6ea0b0;
	color: #ffffff;
	text-indent: 30px;
}
#user_pwd{
	background:transparent url(../images/pngbg.png) no-repeat 0 0;
	border: none;
	line-height:40px;
	height: 40px;
	border-bottom: 1px solid #6ea0b0;
	color: #ffffff;
	text-indent: 30px;
}
#user_name::-webkit-input-placeholder,#user_pwd::-webkit-input-placeholder{
	color: #6ea0b0;
}

/*layui-btn*/
.layui-btn{
	background-color: #51b4cc;
	border-radius: 3px;
}
.layui-btn.layui-btn-warm {
    background-color: #607d8b;
}
.layui-btn.layui-btn-normal {
    background-color: #5494e5;
}
.layui-btn.layui-btn-danger {
    background-color: #ffae3a;
}
.layui-layout-admin .layui-body{
	bottom: auto;
}
.back-link{
	background: url(../images/back.png)center left no-repeat;
	background-size:contain;
	display: block;
	height: 36px;
	line-height: 36px;
	position: absolute;
	left:0px;
	top: 10px;
	padding-left: 50px;
	font-size: 18px;
}
.coupon-uploadimg{
	width: 100%;
	height: auto;
}
.layui-flex-right{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 0 20px;
	flex-wrap: wrap;
}
.layui-ml20{
	margin-left: 20px;
}

.layui-btn-primary{
	color: #FFF;
}
.layui-form-label.layui-form-label-auto{
	width: auto;
}

.layui-header-com {
    height: 36px;
    border-bottom: 1px solid #dfe4ed;
    position: relative;
    padding: 10px 30px;
    margin-bottom: 15px;
}
.layui-header-pad{
	padding: 15px 0 5px 0;
}
.layui-header-title{
	height: 36px;
	line-height: 36px;
	position: absolute;
	left:0px;
	top: 10px;
	padding-left: 30px;
	font-size: 18px;
}

.aud_reason{
	text-decoration: underline;
}
/*/css/modules/layer/default/loading-0.gif   loading的图片*/
.layui-textarea{
	width: 500px;
	height: 160px;
}
.layui-table td.layui-td-nodata{
	height: 500px;
	text-align: center;
	background: url(../images/no_data.png) center center no-repeat;
}
.layui-form-label.layui-value{width: 300px;}
.list_logo{width: 300px;}
.detail_logo{width: 300px; height: 128px;}
.banner-wrap{position: absolute; left: 0px;top: 0px; background: url(../images/black_bg.png) repeat;width: 300px; height: 128px; display: none;}
.top-wrap{position: absolute; left: 0px;top: 0px; background: url(../images/black_bg.png) repeat;width: 300px; height: 94px; display: none;}
.upload-banner{position: absolute; left: 93px;top:45px;}
.reload-img{position: absolute; right: 40px; bottom: 5px;  background: url(../images/reupload.png) no-repeat; background-size: cover;width: 20px;height: 20px; display: none;}
.del-img{position: absolute; right: 10px; bottom: 5px;  background: url(../images/delete.png) no-repeat; background-size: cover;width: 20px;height: 20px; display: none;}

.top-uploadbox.has:hover .top-wrap,.top-uploadbox.has:hover .del-img{display: block;}

.banner-uploadbox:hover .banner-wrap{display: block;}
.banner-uploadbox.has .reload-img,.banner-uploadbox.has .del-img{display: block;}
.banner-uploadbox.has .upload-banner{display: none;}
.banner-images{display: flex;flex-wrap: wrap;}
.banner-uploadbox{margin-bottom: 10px;}
.dataDesc{color:#51b4cc;word-break: break-all; width: 800px; line-height: 30px;border: 1px solid #c3c3c3;padding: 15px; display: none;}

#detail_logo{display: flex;flex-wrap: wrap;}
#detail_logo img{margin:0 10px 10px 0;}

.layui-layedit{width: 800px;}

.layui-icon-del{background: url(../images/del.png) center top no-repeat; background-size: contain; width: 34px;height: 34px; float: left;cursor: pointer;}
.compare-box{height: 420px;display: flex; justify-content: space-between; overflow: auto;}
.compare-left,.compare-right{width: 49.5%;}
.compare-bl{border-left: 2px solid #ccc;}
.compare-br{border-right: 2px solid #ccc;}
.layui-t-red{color: red;}
.customBtn{background: #51b4cc url(../images/add.png) 10px center no-repeat; padding-left: 40px;background-size: 22px;}
.ticket-recover{background-color:#32a293}
.ticket-pause{background-color:#4465a0;} 
.edui-editor-bottomContainer{display: none;}
.layui-layout-admin .user-name{position: absolute;right:120px;top: 0; width: 200px; height: 100%; line-height: 60px;
    text-align: center; color: #009688; font-size: 16px;}
.layui-layout-admin .user-name span{padding-left: 15px;}