*{box-sizing:border-box;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none}
a,input,textarea,select,button{outline:0}a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font-family:"Microsoft YaHei","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%}
a{text-decoration:none}
a:hover{text-decoration:none}a:active{text-decoration:none}em{font-style:normal}li{list-style:none}img{width:100%;height:auto;border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}a,input,textarea,select,button{outline:0}
p{word-wrap:break-word;display:block;-webkit-margin-before:1em;-webkit-margin-after:1em;-webkit-margin-start:0;-webkit-margin-end:0;margin:0;padding:0}
.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}.text-center{text-align:center}.pull-left{float:left}.pull-right{float:right}
.prompt{text-align: center;width: 90%;position: fixed;margin: auto;left: 0;right: 0;top: 40%;z-index: 1001;display: none;}
.prompt em{display: inline-block;background: rgba(0,0,0,0.75);padding: 0.15rem 0.25rem;border-radius: 0.5rem;color: #FFF;font-size: 0.32rem;line-height: 0.48rem;}
.filter{opacity:.6;background-color:rgba(255,255,255,0.8)}
input::-webkit-input-placeholder {color: #999999;}input:-moz-placeholder {color: #999999;}input::-moz-placeholder {color: #999999;}input:-ms-input-placeholder {color: #999999;}
.page-loading{position:fixed;z-index:100;left:0;right:0;top:0;bottom:0;margin:auto;background-color:#ffd800}
.page-loading .loader{position:absolute;top:calc(50% - 1.25em);left:calc(50% - 1.25em);width:2.5em;height:2.5em;transform:rotate(165deg)}
.page-loading .loader:before,.page-loading .loader:after{content:'';position:absolute;top:50%;left:50%;display:block;width:.5em;height:.5em;border-radius:.25em;transform:translate(-50%,-50%)}
.page-loading .loader:before{animation:before 2s infinite}.page-loading .loader:after{animation:after 2s infinite}
.prompt{text-align: center;width: 90%;position: fixed;margin: auto;left: 0;right: 0;top: 40%;z-index: 1001;display: none;}
.prompt em{display: inline-block;background: rgba(0,0,0,0.75);padding: .75rem 1.25rem;border-radius: 2.5rem;color: #FFF;font-size: 1.6rem;line-height: 2.4rem;}
@keyframes before{0%{width:.5em;box-shadow:1em -0.5em rgba(225,20,98,0.75),-1em .5em rgba(111,202,220,0.75)}35%{width:2.5em;box-shadow:0 -0.5em rgba(225,20,98,0.75),0 .5em rgba(111,202,220,0.75)}70%{width:.5em;box-shadow:-1em -0.5em rgba(225,20,98,0.75),1em .5em rgba(111,202,220,0.75)}100%{box-shadow:1em -0.5em rgba(225,20,98,0.75),-1em .5em rgba(111,202,220,0.75)}}@keyframes after{0%{height:.5em;box-shadow:.5em 1em rgba(61,184,143,0.75),-0.5em -1em rgba(233,169,32,0.75)}35%{height:2.5em;box-shadow:.5em 0 rgba(61,184,143,0.75),-0.5em 0 rgba(233,169,32,0.75)}70%{height:.5em;box-shadow:.5em -1em rgba(61,184,143,0.75),-0.5em 1em rgba(233,169,32,0.75)}100%{box-shadow:.5em 1em rgba(61,184,143,0.75),-0.5em -1em rgba(233,169,32,0.75)}}
.tc{text-align: center;}.pr{position: relative;}
.main-wrap{width: 100%; max-width: 750px; margin:0 auto;}
.black-bg{width: 100%; height: 100%; position: fixed;left: 0px; top: 0px;z-index: 1000;background: url(../images/black_bg.png) repeat; display: none;}
.logo img,.act-img img{width: 100%;}
.act-time{height: 1.6rem;text-align: center; font-size: 1.2rem; color: #241a17; margin: .2rem 0; line-height: 2rem;}
.act-time .hour{ background: url(../images/time_ico.png) .3rem center no-repeat; background-size: contain; padding:0 .3rem 0 2rem; color: #c11920;}
.act-time .min,.act-time .second{ color: #c11920; padding: 0 .3rem 0 .1rem;}
.act-title{color: #595757; font-size: 1.5rem;text-align: center; line-height: 2.5rem; height: 2.5rem; margin:.5rem 0;font-weight: bold;}
.act-desc-wrap{display: flex; justify-content: center;}
.act-desc-btn{border:.1rem solid #949595; padding: 0 2.8rem 0 1.3rem; line-height: 2rem; font-size: .9rem; color: #949495;border-radius: 1rem;}
.down{background: #FFF url(../images/down.png) 5.6rem center no-repeat; background-size: 1.1rem .6rem;}
.up{background: #FFF url(../images/up.png) 5.6rem center no-repeat; background-size: 1.1rem .6rem;}
.detail-wrap{background-color: #FFF;  padding: 2.5rem 0; position: absolute; left: 0; top: 36.1rem; width: 100%; display: none; z-index: 10;}
.detail-con{width: 27.3rem; margin:0 auto;}
.detail-con .t1{text-align: center; font-size: 1.5rem; color: #595757; line-height: 1.8rem;}
.detail-con .t2{text-align: center; font-size: 1.2rem; color: #636262; line-height: 1.8rem;}
.index-free{margin:5rem auto 8rem auto;width: 32.4rem;}
.index-login{margin: 1.3rem auto 3.15rem auto; width: 32.4rem;}
.index-myself{margin:1.9rem auto 1.1rem auto; width: 32.4rem }
.index-him{margin:1.75rem auto 1.1rem auto; width: 32.4rem;}
.my-free-btn{width: 32.4rem; height: 4.4rem; line-height: 4.4rem;margin: 0 auto;background-color: #c11920; font-size: 1.5rem; color: #FFF; text-align: center; letter-spacing: 1.5rem; border-radius: 1rem;}

.tel-input-wrap{border:.1rem solid #c9caca; border-radius: 1rem; line-height: 2rem; padding: 1.1rem 0; margin-bottom: 1.2rem;}
.tel-input-wrap input{width: 100%; border:none; font-size: 1.5rem; color: #949495; text-align: center; }
.tel-input-wrap input::-webkit-input-placeholder,.yzm-input-wrap input::-webkit-input-placeholder{ /* WebKit browsers */
  letter-spacing: 1rem;
}

.tel-input-wrap input::-moz-placeholder,.yzm-input-wrap input::-moz-placeholder{ /* Mozilla Firefox 19+ */
  letter-spacing: 1rem;
}

.tel-input-wrap input:-ms-input-placeholder,.yzm-input-wrap input:-ms-input-placeholder{ /* Internet Explorer 10+ */
  letter-spacing: 1rem;
} 
.yzm-input-wrap{padding: .3rem 0; border:.1rem solid #c9caca; border-radius: 1rem; line-height: 2rem;margin-bottom: 1.2rem; display: flex; justify-content: space-between;}
.yzm-input-wrap input{height: 2rem; width: 20rem;border:none; font-size: 1rem; color: #949495; text-align: center; }
.yzm-input-wrap .get-yzm{ height: 2rem; border-left:.1rem solid #c9caca; width: 8rem; text-align: center; }
.submit-btn{width: 32.4rem; height: 4.4rem; line-height: 4.4rem; background-color: #c11920; font-size: 1.5rem; color: #FFF; text-align: center; letter-spacing: 1.5rem; border-radius: 1rem;}

.share-btn{width: 32.2rem; height: 2.8rem; line-height: 2.8rem;margin: 0 auto;background-color: #FFF; margin-bottom: 1rem; font-size: 1.5rem; border: .1rem solid #949495; color: #949495; text-align: center; letter-spacing: 1.5rem; border-radius: 1rem;}
.click-power-btn{width: 32.4rem; height: 4.4rem; line-height: 4.4rem;margin: 0 auto 1.1rem auto;background-color: #c11920; font-size: 1.5rem; color: #FFF; text-align: center; letter-spacing: 1.5rem; border-radius: 1rem;}
.person-power-info{display: flex; flex-direction: row; justify-content: space-between;position: relative;}
.person-power-info .power-left{display: flex; line-height: 3.5rem; height: 3.5rem; font-size: 1.2rem; color: #595757; }
.person-power-info .power-left .tx{height: 3.5rem;width: 3.5rem; border-radius: 1.75rem;}
.person-power-info .power-left span{padding: 0 .5rem 0 1.3rem;}
.person-power-info  .power-left em{ color: #c11920; padding:0 .3rem; }
.person-power-info  .power-right{display: flex; justify-content: right; padding: .95rem 0;font-size: 1.2rem;color: #c11920;}
.person-power-info .power-num{width: 1.7rem;height: 1.6rem;  margin-left: .5rem;background: url(../images/power_icon.png) no-repeat; background-size: contain;}
.person-power-info .power-num.select{background-image: url(../images/power_icon2.png)}
.clicked-tips{position: absolute; display: none; right: -1rem; top: -2.2rem; background-color: #c7c8c8; padding: 0 .8rem; line-height: 2.2rem; height: 2.2rem; font-size: 1.4rem; color: #FFF;border-radius: .4rem;}
.clicked-tips em{background: url(../images/power_ridge.png) no-repeat; background-size: contain; width: .85rem; height:.45rem;position: absolute; right: .6rem; bottom: -.45rem;}
.rank-wrap{margin-top: .5rem; clear: both; overflow: hidden;}
.rank-wrap .rank-btn{border-radius: 1rem; float: right; border:.1rem solid #949595; color: #949595; background-color: #FFF; font-size: .9rem;padding: 0 1.65rem; line-height: 1.9rem;}

.power-him{width: 32.4rem; height: 4.4rem; background: url(../images/power_btn.png) no-repeat; background-size: contain; margin-bottom: 1.1rem;}
.go-fee-btn{width: 32.4rem; height: 2.75rem; line-height: 2.75rem; margin-top: 1.2rem; display: block; background-color: #5eb96d; font-size: 1.5rem; color: #FFF; text-align: center; letter-spacing: 1.5rem; border-radius: 1rem;}

.bottom-wrap{width: 32.4rem; margin:0 auto;}
.white-bg{background-color: #FFF; padding: 1rem 0;}
.btns-wrap{display: flex; flex-direction: row; justify-content: space-between;}
.go-appbtn{width: 15.6rem;height: 2.7rem; background: url(../images/app_btn.png) no-repeat; background-size: contain; display: block;}
.join-group{width: 15.6rem;height: 2.7rem; background: url(../images/group_btn.png) no-repeat; background-size: contain; display: block;}
.rules{color: #615f5f; font-size: .7rem; margin-top: .6rem; line-height: 1.4rem;}
.rules span{font-weight: bold;}
.copyright{color: #615f5f; font-size: .6rem; text-align: center; line-height: 1.4rem;}
.history-btn{margin:1rem auto; width: 7.6rem; height: 1.95rem; background: url(../images/history_btn.png) no-repeat; background-size: contain; display: block;}


.pop-wrap-success{background-color: #FFF; width: 32rem; padding: 3rem 4.5rem 2rem 4.5rem; position: fixed; left: 50%; top: 50%; margin: -14.2rem 0 0 -16rem; border-radius: 1rem; z-index: 1000; display: none;}
.pop-wrap-success .pop-logo{text-align: center; height: 5.5rem; margin-bottom: 1.75rem;}
.pop-wrap-success .pop-logo img{height: 5.5rem; width: 5.5rem;}
.pop-wrap-success .success-title{ text-align: center; font-weight: bold; line-height: 2.3rem;font-size: 1.5rem; }
.pop-wrap-success .success-desc{text-align: center; line-height: 2.5rem;  font-size: 1.5rem; margin-bottom: 1rem;}
.pop-wrap-success .power-icon{width: 100%;text-align: center;}
.pop-wrap-success .power-icon img{width: 1.7rem; height: 1.6rem;}
.pop-wrap-success .go-power-btn{width: 100%; margin-top: 1.6rem;}
.pop-wrap-success .go-power-btn img{width: 100%}

.join-group-wrap{background-color: #FFF; width: 32rem; padding: 2.5rem 4.5rem 2rem 4.5rem; position: fixed; left: 50%; top: 50%; margin: -18rem 0 0 -16rem; border-radius: 1rem; z-index: 1000;  display: none;}
.join-group-wrap .t1{line-height: 4.4rem; font-size: 2.2rem; color: #221815;text-align: center; white-space: nowrap;}
.join-group-wrap .t2{line-height: 2rem; font-size: 1.4rem; color: #221815;text-align: center;}
.join-group-wrap .t2 em{font-weight: bold; padding-right: .5rem;}
.join-group-wrap .join-code{ padding: 2.3rem 0 3.1rem 0;text-align: center;}
.join-group-wrap .join-code img{width: 12.45rem; height: 12.45rem;}
.join-group-wrap .join-logo{height: 5.3rem;text-align: center;}
.join-group-wrap .join-logo img{width: 21.2rem; height: 5.3rem;}

.share-wrap{background-color: #FFF; width: 32rem; padding: 2rem 4.5rem 3rem 4.5rem; position: fixed; left: 50%; top: 50%; margin: -10rem 0 0 -16rem; border-radius: 1rem; z-index: 1000; display: none;}
.share-wrap .pop-logo{text-align: center; height: 5.5rem; margin-bottom: 2.1rem;}
.share-wrap .pop-logo img{height: 5.5rem; width: 5.5rem;}
.share-wrap .t1{color: #221815; font-size: 1.5rem; line-height: 1.5rem; display: flex; justify-content: center; margin-bottom: 2rem;}
.share-wrap .t1 img{width: 1.5rem; height: 1.5rem; margin: 0 .2rem;}
.share-wrap .t2{color: #221815; font-size: 1.5rem; line-height:2rem; text-align: center;}
.share-wrap .t3{color: #221815; font-size: 1.5rem; line-height: 1.6rem; display: flex; justify-content: center;}
.share-wrap .t3 img{width: 1.7rem; height: 1.6rem; margin: 0 .2rem;}

.act-type{ line-height: 2.5rem; height: 2.5rem; font-size: 1.5rem; color: #3e3a39; text-align: center;}
.act-type em{font-weight: bold; padding-right: .3rem;}
.coop-text{color: #3e3a39; font-size: 1.1rem; text-align: center;}
.act-list{width: 100%; position: relative; padding-bottom: 8.8rem;}
.list-top{position: absolute; left: 0; top: 9rem; width: 37.5rem; height:2.8rem; z-index: 2;}
.list-bot{width: 37.5rem; height:2.8rem;}
.act-list ul{display: flex; flex-direction: row; width: 34rem; justify-content: space-between; margin: 0 auto; flex-wrap: wrap;padding-bottom: .5rem;}
.act-list ul li{border:.1rem solid #d9d9da; width: 16.5rem; margin-bottom: 1.2rem; }
.act-list ul li .act-conbox{padding: .5rem .5rem .75rem .5rem;}
.act-list ul li img{width: 100%;}
.act-list ul li .title{font-size: .9rem; color:#595757; line-height: 2rem; white-space: nowrap;}
.act-list ul li .act-btnbox{justify-content: center; display: flex;}
.act-list ul li .record-btn{width: 7.4rem;height: 1.85rem; line-height: 1.85rem; color: #FFF; background-color: #5eb96d;text-align: center;font-size: .9rem;border-radius: .8rem;}
.act-list ul li .progress-btn{ width: 7.4rem;height: 1.85rem; line-height: 1.85rem; color: #FFF; background-color: #c11920;text-align: center;font-size: .9rem;border-radius: .8rem;}

.rank-main{width: 32rem;margin:0 auto; position: relative;}
.rank-main .backto{position: absolute; right: 0; top: -.5rem;  display: block; background: url(../images/backto.png) no-repeat; background-size: contain; width: 2.9rem; height: 2.9rem; }

.rank-main .person-power-info{display: flex; flex-direction: row; justify-content: space-between;position: relative; padding: .5rem; border-radius: .5rem;}
.rank-main .person-power-info .power-left{display: flex; line-height: 3.5rem; height: 3.5rem; font-size: 1.2rem; color: #595757; }
.rank-main .person-power-info .power-left .tx{height: 3.5rem;width: 3.5rem; border-radius: 1.75rem;}
.rank-main .person-power-info .power-left span{padding: 0 .5rem 0 1.3rem;}
.rank-main .person-power-info  .power-left em{ color: #c11920; padding:0 .3rem; }
.rank-main .person-power-info  .power-right{display: flex; justify-content: right; padding: .95rem 0;font-size: 1.2rem;color: #c11920;}
.rank-main .person-power-info .power-num{width: 1.7rem;height: 1.6rem;  margin-left: .5rem;background: url(../images/power_icon.png) no-repeat; background-size: contain;}

.rank-main .person-power-info.myselef{margin-top: 1.6rem;background-color: #c11920; color: #FFF; border: .1rem solid #c11920;}
.rank-main .person-power-info.myselef .power-left,.rank-main .person-power-info.myselef .power-right,.rank-main .person-power-info.myselef  .power-left em{color: #fff;; }
.rank-main .person-power-info.myselef .power-num{background-image: url(../images/power_icon_myself.png);}

.rank-main .person-power-info.other{margin-bottom: .8rem;background-color: #FFF; color: #FFF; border: .1rem solid #949595;}
.rank-main .person-power-info.other .power-left{ color: #595757; }
.others-wrap{position: relative; padding-top: .5rem; }
.rank-top{ position: absolute; left: 0px; top: 8rem; z-index: 2; background: url(../images/top.png) center top no-repeat; background-size: cover; width:32rem; height: 2.8rem;}
.index-list-box{width: 32rem; margin: 0 auto;position: relative;}
.backto-index{position: absolute; right: 0; top: .6rem; display: block; background: url(../images/backto.png) no-repeat; background-size: contain; width: 2.9rem; height: 2.9rem; }
.index-bottom{position: fixed; left: 0px; bottom: 0px; width: 100%;}