body{background-color: #F5F5F7;}
.bg-white{background-color: #FFF;min-width: 1440px;}
.blackbg{background: url(../images/black_bg.png) repeat; width: 100%; height: 100%; position: fixed; left: 0;top: 0;z-index: 100; display: none;}
#prompt{width: 100%; height: 40px; position: fixed; left: 0;top: 50%;z-index: 100; display: none;}
#prompt .promt-center{display: flex;justify-content: center;}
#prompt .promt-center em{padding: 0 30px;font-size: 20px; background-color: #333333;color: #FFF; line-height: 40px;height: 40px;border-radius: 10px;}
img{vertical-align: top;}
.wrap{width: 1440px;margin:0 auto;max-width: 100%;}
.header{width: 100%;height: 120px;display: flex;justify-content: space-between; background-color: #5167D8;min-width: 1440px;}
.h-left{display: flex;flex-direction: row;margin-left: 60px;padding: 42px 0;}
.h-left .logo{width: 36px;height: 36px;}
.h-left .big-title{font-size: 32px;color: #FFF;padding-left: 10px;line-height: 36px;height: 36px;}
.h-right{display: flex;flex-direction: row;margin-right: 60px;padding: 36px 0;}
.h-right .tx-img{width: 48px;height: 48px;}
.h-right .acc-name{font-size: 24px;color: #FFF;padding: 0 5px 0 15px; line-height: 48px;height: 48px; max-width: 250px; white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.h-right .icon-spread{background: url(../images/icon_spread.png) center center no-repeat; background-size: 50% auto; width: 28px;height: 48px; cursor: pointer;}
.h-right .icon-spread.act{background: url(../images/icon_spread2.png) center center no-repeat; background-size: 50% auto; width: 28px;height: 48px;}
.unlogin{line-height: 48px;height: 48px;font-size: 24px;color: #FFF;cursor: pointer;}
.tx-img{border-radius: 24px;}
.logined-flex{display: flex;flex-direction: row;}
.login-ope{position: absolute; right: 60px;top: 100px;background-color: #FFF;padding: 10px; display: none;}
.login-ope li{padding: 10px 0; font-size: 24px;}
.login-ope li a{ color: #666;}
.login-ope li a:hover{color: #5167D8;}
.menu-box{width: 100%;height: 100px;background-color: #E6F1FE;}
.menu-list{display: flex;flex-direction: row;}
.menu-list li{width: 10%; line-height: 100px;height: 100px;text-align: center;position: relative;}
.menu-list li span{width: 50px; height: 2px;background-color:#5167D8;position: absolute; left: 50%;bottom: 2px;margin-left: -25px; display: none;}
.menu-list li a{color: #333; font-size: 28px;}
.menu-list li a:hover{color: #5167D8;}
.menu-list li.act a{ color:#5167D8;}
.menu-list li.act span{display: block;}
.main-box{display: none;}
.con-box{margin: 40px 0 80px 0; display: flex;justify-content: space-between; }
.con-box .con-l{width: 1020px;text-align: left;}
.info-box{ padding: 20px; height: 380px; background-color: #FFF;margin-bottom: 30px; position: relative;overflow: hidden;}
.info-box-card{ padding: 20px; height: 440px; background-color: #FFF;margin-bottom: 30px; position: relative;}
.info-box2{ padding: 20px; height: 460px; background-color: #FFF;margin-bottom: 30px; position: relative;}
.con-box .con-r{width: 380px;height: 380px;background-color: #fff;text-align: center;line-height: 320px; font-size: 30px;color: #999; padding: 30px;}
.con-box .con-r img{width: 100%;height: 100%;}
.tarea{width: 980px;height: 340px;resize: none;background: #FFF;border: none; font-size: 30px;color: #999;}
.flex-end{display: flex;justify-content: flex-end;}
.flex-between{display: flex;justify-content: space-between;}
.create-btn{width: 296px;height: 76px;border-radius: 36px;background-color: #5167D8;color: #FFF; font-size: 30px;text-align: center;line-height: 76px;cursor: pointer;}
.check-code{cursor: pointer; margin:20px 0;background: url(../images/uncheced.png) left center no-repeat; background-size: auto 100%; padding-left: 50px; height: 36px;line-height: 36px; font-size: 24px;color: #666;}
.check-code.act{background: url(../images/checked.png) left center no-repeat; background-size: auto 100%;}
.tags-address{display: flex;flex-direction: row;margin:20px 0;}
.tags-address span{display: block;background-color: #888; border-radius: 5px; color: #FFF; height: 36px;line-height: 36px; padding: 0 20px;margin-right: 10px;cursor: pointer;}
.tags-address span.act{background-color: #5167D8;}
.success-code{display: none;cursor: pointer; margin:20px 0;background: url(../images/checked.png) left center no-repeat; background-size: auto 100%; padding-left: 50px; height: 36px;line-height: 36px; font-size: 24px;color: #666;}
.add-btn{position: absolute; left:50%; top: 50%; margin:-38px 0 0 -148px; width: 296px;height: 76px;border-radius: 36px;background-color: #5167D8;color: #FFF; font-size: 30px;text-align: center;line-height: 76px;cursor: pointer;}
.input-upload1{position: absolute;left:50%; top: 50%; margin:-38px 0 0 -148px;width: 296px;height: 76px;opacity: 0;  z-index: 2;cursor: pointer;}
.continue-btn{margin:20px 0;position: relative;width: 194px;height: 36px;display: none;}
.continue-btn .add-icon-btn{position: absolute;left:0;top:0px; background: url(../images/add.png) left center no-repeat; background-size: auto 100%; padding-left: 50px; height: 36px;line-height: 36px; font-size: 24px;color: #666;}
.continue-btn .input-upload2{z-index: 2;opacity: 0;width: 194px;height: 36px;cursor: pointer;}
.input-box{background: #e7e7e7;padding: 10px; width: 400px;margin-bottom: 20px;}
.input-box input{border: none;background: transparent; width: 100%; height: 20px;line-height: 20px;font-size: 16px;}
.input-box textarea{border: none;background: transparent; width: 100%; height: 160px;line-height: 20px; resize: none; font-size: 16px;}
.w400{width: 400px;margin: 20px auto 0 auto;}


.part1{display: flex;justify-content: space-between;padding: 90px 0 150px 0;}
.part1-l{width: 598px;}
.part1-l .t1{ font-size: 56px;color: #5167D8;}
.part1-l .t2{color: #333;font-size: 44px; padding: 50px 0;}
.part1-l .t3{font-size: 28px;line-height: 45px; color: #666;}
.part1-r{width: 423px;height: 521px;margin-right: 134px;padding-top: 10px;}
.part1-r img{width: 100%;height: auto;}
.com-title{color: #5167D8; font-size: 56px;text-align: center;}
.part2{padding: 95px 0;}
.part2-list{margin-top: 120px;display: flex;flex-direction: row;flex-wrap: wrap;}
.part2-list li{margin-right: 53px;width: 320px;background-color: #FFF; height: 396px;margin-bottom: 50px;}
.part2-list li:nth-child(4n){margin-right: 0;}
.part2-icon{padding: 50px 0 35px 0; text-align: center;}
.part2-icon img{width: 120px;}
.part2-list .t1{font-size: 30px;line-height: 30px;color: #333;text-align: center;}
.part2-list .t2{font-size: 16px;color: #777777; margin: 25px auto 0 auto; line-height: 24px; width: 240px;}
.part3,.part4,.part5,.part6,.part7{padding: 120px 0;}
.min-title{font-size: 28px;color: #666;text-align: center;margin-top: 40px;}
.part3-flex{display: flex;justify-content: space-between;margin-top: 96px;}
.part3-r{margin-top: 56px;width: 610px;height: auto;}
.part3-l{width: 668px;}
.part3-l .t1{font-size: 44px;color: #333;line-height: 48px;}
.part3-l .t2{font-size: 28px;color: #666;line-height: 48px;margin: 56px 0 80px 0;}

.part4-flex{display: flex;justify-content: space-between;margin-top: 70px;}
.part4-r{width: 443px;height: 483px;margin-right: 120px;padding-top: 10px;}
.part4-r img{width: 100%;height: auto;}
.part4-l{width: 642px;}
.part4-l .t1{font-size: 44px;color: #333;line-height: 48px;}
.part4-l .t2{font-size: 28px;color: #666;line-height: 48px;margin: 56px 0 80px 0;}

.list02{display: flex; justify-content: center; flex-wrap: wrap;margin-top: 138px;}
.list02 li{width: 162px;margin:0 70px; height: 242px; line-height: 80px;margin-bottom: 40px;}
.list02 li .type01{background: url(../images/type01.png) center top no-repeat;background-size: contain; width: 162px; height: 242px; text-align: center; padding-top: 162px; font-size: 26px;color: #333;}
.list02 li .type02{background: url(../images/type02.png) center top no-repeat;background-size: contain; width: 162px; height: 242px; text-align: center; padding-top: 162px; font-size: 26px;color: #333;}
.list02 li .type03{background: url(../images/type03.png) center top no-repeat;background-size: contain; width: 162px; height: 242px; text-align: center; padding-top: 162px; font-size: 26px;color: #333;}
.list02 li .type04{background: url(../images/type04.png) center top no-repeat;background-size: contain; width: 162px; height: 242px; text-align: center; padding-top: 162px; font-size: 26px;color: #333;}
.list02 li .type05{background: url(../images/type05.png) center top no-repeat;background-size: contain; width: 162px; height: 242px; text-align: center; padding-top: 162px; font-size: 26px;color: #333;}
.list02 li .type06{background: url(../images/type06.png) center top no-repeat;background-size: contain; width: 162px; height: 242px; text-align: center; padding-top: 162px; font-size: 26px;color: #333;}
.list02 li .type07{background: url(../images/type07.png) center top no-repeat;background-size: contain; width: 162px; height: 242px; text-align: center; padding-top: 162px; font-size: 26px;color: #333;}
.list02 li .type08{background: url(../images/type08.png) center top no-repeat;background-size: contain; width: 162px; height: 242px; text-align: center; padding-top: 162px; font-size: 26px;color: #333;}
.list02 li .type09{background: url(../images/type09.png) center top no-repeat;background-size: contain; width: 162px; height: 242px; text-align: center; padding-top: 162px; font-size: 26px;color: #333;}
.list02 li .type10{background: url(../images/type10.png) center top no-repeat;background-size: contain; width: 162px; height: 242px; text-align: center; padding-top: 162px; font-size: 26px;color: #333;}

.part6-flex{display: flex;justify-content: space-between;}
.part6-r{width: 719px;height: 970px;}
.part6-r img{width: 100%;height: auto;}
.part6-l{width: 614px;}
.part6-l .t1{font-size: 56px;color: #5167D8;line-height: 48px;margin-top: 210px;}
.part6-l .t2{font-size: 28px;color: #666;line-height: 48px;margin: 56px 0 80px 0;}

.dis-flex{display: flex; flex-direction: row;margin-top: 105px;}
.dis-flex .dis-box{width: 440px;height: 360px;position: relative;padding:197px 27px 0 27px;font-size: 24px;color: #333;}
.dis-flex .dis-box.dis01{background:#fff url(../images/dis01.png) no-repeat;}
.dis-flex .dis-box.dis02{background:#fff url(../images/dis02.png) no-repeat;}
.dis-flex .dis-box.dis03{background:#fff url(../images/dis03.png) no-repeat;}
.dis-flex  .dis-box:nth-child(2){margin: 0 60px;}

.go-home{display: block;background:url(../images/go_home.png) center center no-repeat;border-radius: 10px; background-size: contain; width: 100px; height: 100px; position: fixed; left: 50%; margin-left: 800px; bottom: 200px; z-index: 100;}
.contac-wrap{padding: 80px 0;}
.contact-us{display: flex;flex-direction: row; justify-content: center;margin-top: 70px;}
.contact-us li{width: 160px;margin: 0 50px; display: flex; flex-direction: column; margin-bottom: 100px;}
.contact-us li .txt{ color: #999; font-size: 14px; text-align: center;}
.contact-us-t{font-size: 28px;color: #666; line-height: 40px;margin: 70px 0;}

.footer{width: 100%;min-width: 1440px;}
.login-pop{width: 450px;height: 470px;padding: 20px; position: fixed;left: 50%;top: 50%;margin: -150px 0 0 -150px; z-index: 101; background: #FFF; display: none;}
.login-pop .t1{font-size: 20px; color: #333;text-align: center;}
.login-pop .wx-code{width: 350px;height: 350px;margin:20px auto 10px auto;display: block;}
.login-pop .t2{font-size: 16px; color: #999;text-align: center;}
.login-close{background: url(../images/close.png) no-repeat;background-size: contain; width: 40px;height: 40px; position: absolute; right: 0;top: 0;}

.close-li-elem,.close-article-elem{background: url(../images/close.png) no-repeat;background-size: contain; width: 30px;height: 30px; position: absolute; right: -10px; top: -10px; cursor: pointer;}
.upload-conbox{display: none;}
.imglist,.filelist,.videolist,.audiolist{ display: flex; flex-direction: row;flex-wrap: wrap;}
.imglist li,.filelist li,.videolist li,.audiolist li{display: flex;flex-direction: column;width: 110px;margin: 10px 15px;position: relative; }
.imglist li .img-overflow{width:100%; height: 110px;overflow: hidden;}
.imglist li img,.videolist li video,.audiolist li audio{width: 110px;height: 110px;}
.imglist li span,.filelist li span,.videolist li span,.audiolist li span{white-space: nowrap;text-overflow: ellipsis;overflow: hidden; width: 100%; line-height: 30px; color: #333;font-size: 14px;text-align: center;}
.other-icon{ background: url(../images/text.png) no-repeat; width: 110px;height: 110px;}
.xlsx-icon,.xls-icon{ background: url(../images/xlsx.png) no-repeat; width: 110px;height: 110px;}
.pdf-icon{ background: url(../images/pdf.png) no-repeat; width: 110px;height: 110px;}
.doc-icon,.docx-icon{ background: url(../images/doc.png) no-repeat; width: 110px;height: 110px;}
.png-icon,.jpg-icon,.jpeg-icon,.gif-icon,.bmp-icon{ background: url(../images/pic.png) no-repeat; width: 110px;height: 110px;}
.video-icon{ background: url(../images/video.png) no-repeat; width: 110px;height: 110px;}
.audio-icon{ background: url(../images/audio.png) no-repeat; width: 110px;height: 110px;}

.article-content{height: 280px;overflow-y: auto;overflow-x: hidden;}
.article-ope{display: flex;flex-direction: row;flex-wrap: wrap;}
.article-btn{margin:20px 0;position: relative;width: 154px;height: 36px;}
.article-btn .add-icon-btn{position: absolute;left:0;top:0px; background: url(../images/add.png) left center no-repeat; background-size: auto 100%; padding-left: 50px; height: 36px;line-height: 36px; font-size: 24px;color: #666;}
.article-btn .input-upload2{z-index: 2;opacity: 0;width: 154px;height: 36px;cursor: pointer;}
.article-elem{position: relative; width: 90%;margin:15px auto}
.article-elem audio{width:100%;}
.article-elem img,.article-elem video{width: 100%;}
@media screen and (max-width:1439px){ 
.header{min-width: 1020px;height: 80px;}
.bg-white{min-width: 1020px;}
.wrap{width:1020px;margin:0 auto}
.con-box .con-l{width: 600px;}
.info-box{height: 380px;}
.h-left{padding: 22px 0;}
.h-right{padding: 18px 0;}
.login-ope{top: 70px;}
.menu-list li a{font-size: 24px;}
.h-left .big-title{font-size: 24px;}
.add-btn{font-size: 24px; width: 260px;height: 56px;line-height: 56px;margin: -28px 0 0 -130px;}
.tarea{width: 560px;height: 320px;font-size: 24px;}
.con-box .con-r{width:380px; height: 380px;font-size: 24px;}
.part1,.part2,.part3,.part4,.part5,.part6,.part7{padding: 50px 0;}
.part1-l .t1{font-size: 44px;}
.part1-l .t2{padding: 20px 0;font-size: 30px;}
.part1-l .t2{font-size: 24px;}
.com-title{font-size: 44px;}
.part1-r{margin:150px 30px 0 0;width: 300px;height: 430px;}
.part2-list{margin-top: 50px;}
.part2-list li{margin-right: 20px; width: 240px;margin-bottom: 30px;height: 425px;}
.part2-list .t2{width: 200px;}
.part2-list .t1{font-size: 24px;}
.part3-r{margin-top: 20px; width: 450px; height: auto;}
.part3-l{width: 500px;}
.part3-l .t2{margin: 20px 0;font-size: 24px;line-height: 30px;}
.part3-l .t1{font-size: 30px;}

.part4-r{margin-right: 30px;width: 360px;height: auto;}
.part4-l .t1{font-size: 30px;}
.part4-l .t2{margin: 20px 0;font-size: 24px;line-height: 30px;}
.list02{margin-top: 80px;}
.part6-r{width: 550px;height: auto;}
.part6-l{width: 420px;}
.part6-l .t1{line-height: 60px;margin-top: 120px;font-size: 44px;}
.part6-l .t2{font-size: 24px;}
.dis-flex{margin-top: 50px;}
.dis-flex .dis-box{height: 420px;}
.go-home{ position: fixed; left: 50%; margin-left: 460px; bottom: 200px; z-index: 100;}
.footer{width: 100%;min-width: 1020px;}
.tags-address{margin: 10px 0;}
.tags-address span{padding: 0 10px;}
.create-btn{height: 56px;line-height: 56px;width: 200px; font-size: 24px;}
.continue-btn{margin: 10px 0;}
.success-code{margin: 10px 0;font-size: 16px;}
}